# Use CDROM installation media
#cdrom
# Use Network installation mirror - See https://www.centos.org/download/mirrors/ for locations
#url --url="http://mirror.zetup.net/CentOS/7/os/x86_64/"
#url --url="http://mirror.sesp.northwestern.edu/centos/7.6.1810/os/x86_64/"
repo --name="alamalinux9-baseos" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/baseos"
repo --name="alamalinux9-appstream" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/appstream"

# add epel repo with mirrors
repo --name="epel9-everything" --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=epel-9&arch=x86_64"

# add CRB with mirrors
repo --name="CRB" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/9/crb/"

# use internet install
url --url="https://repo.almalinux.org/almalinux/9/BaseOS/x86_64/kickstart/"
